[default]
bin = easycrypt

[test-generic-mith]
args = -timeout 10 -I Circuit:generic-mith/src/Circuit -I Commitment:generic-mith/src/Commitment -I SecretSharing:generic-mith/src/SecretSharing -I Functionalities:generic-mith/src/Functionalities -I General:generic-mith/src/General -I MPC:generic-mith/src/MPC -I MPCInTheHead:generic-mith/src/MPCInTheHead -I ZeroKnowledge:generic-mith/src/ZeroKnowledge
okdirs = !generic-mith/src

[test-mith-bgw]
args = -timeout 10 -I Assumptions:mith-bgw/src/Assumptions -I Circuit:mith-bgw/src/Circuit -I Commitment:mith-bgw/src/Commitment -I SecretSharing:mith-bgw/src/SecretSharing -I Functionalities:mith-bgw/src/Functionalities -I MPC:mith-bgw/src/MPC -I MPCInTheHead:mith-bgw/src/MPCInTheHead -I ArithmeticProtocol:mith-bgw/src/MPC/ArithmeticProtocol -I BGW:mith-bgw/src/MPC/BGW -I Circuit:generic-mith/src/Circuit -I Commitment:generic-mith/src/Commitment -I SecretSharing:generic-mith/src/SecretSharing -I Functionalities:generic-mith/src/Functionalities -I General:generic-mith/src/General -I MPC:generic-mith/src/MPC -I MPCInTheHead:generic-mith/src/MPCInTheHead -I ZeroKnowledge:generic-mith/src/ZeroKnowledge
okdirs = !mith-bgw/src

[test-mith-maurer]
args = -I Jasmin:mith-maurer/jasmin/eclib -I JasminExtra:mith-maurer/jasmin/eclib_extra -R mith-maurer/proof -I mith-maurer/jasmin/src    -I Circuit:generic-mith/src/Circuit -I CommitmentScheme:generic-mith/src/CommitmentScheme -I SecretSharing:generic-mith/src/SecretSharing -I Functionalities:generic-mith/src/Functionalities -I General:generic-mith/src/General -I MPC:generic-mith/src/MPC -I MPCInTheHead:generic-mith/src/MPCInTheHead -I ZeroKnowledge:generic-mith/src/ZeroKnowledge -I SigmaProtocol:generic-mith/src/ZeroKnowledge/SigmaProtocol
okdirs = !mith-maurer/proof mith-maurer/jasmin/eclib_extra mith-maurer/jasmin/src

